<div class="jumbotron text-center">
  <h3>Welcome to 0x001</h3>
  <br>
  <p>I'm a software developer and this my humble little page :)</p>
  <p>This is also the home of my projects, which I code from time to time.</p>
  <br>
  <p>Have fun and let me know if you have {{#link-to 'contact'}}questions{{/link-to}} directed to me.</p>
</div>
